{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добавить название прибора {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="lifetime_name">Название</label>
            <label>
                <input type="text" name="Название"
                       placeholder="Введите название прибора">
            </label>
        </p>

        <p>
        <label for="lifetime_description">Описание</label>
        <br>
            <label>
    <textarea name="Описание"
          placeholder="Описание прибора"
          rows="15"
          cols="60"
          ></textarea>
            </label>
        </p>
       <p>
            <label for="lifetime_date">Конечная дата эксплуатации</label>
           <label>
               <input type="date" name="calendar" placeholder="yyyy-mm-dd" value=""/>
           </label>
       </p>
        <p>
            <button type="submit">Сохранить</button>
        </p>
    </form>
{% endblock %}